.main_container {
    width: fit-content;
    position: relative;
    z-index: 100 !important;
}

.main_container>button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 500 !important;
    font-size: 1rem;
    color: var(--theme-bg-color-red);
}

.main_container>button:hover {
    color: var(--theme-color-blue);
}